Repository geoffdavis/talos-gitops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubectl-validate, kustomize-validate, pytest-critical

Path conditions:
  kubectl-validate: any of: (?x)^(
  infrastructure/.*\.yaml$|
  apps/.*\.yaml$|
  clusters/.*\.yaml$
)
 and not ((?x)^(
  .*kustomization\.yaml$|
  .*kustomization-.*\.yaml$
)$
) and not ((?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$
)
  kustomize-validate: any of: kustomization\.yaml$, but not: (?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$

  pytest-critical: any of: scripts/token-management/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$


fix: use /bin/sh instead of sh for rancher/kubectl compatibility
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
Due: none

fix: update chart to v0.1.16 with corrected /bin/sh shell path for rancher/kubectl image
  charts/gitops-lifecycle-management/Chart.yaml
Due: none

fix: temporarily disable health checks in HelmRelease to break timeout cycle
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
Due: kubectl-validate

fix: switch to alpine:3.18 image for reliable container startup
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
Due: none

fix: switch to python:3.12-alpine to resolve permission issues
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
Due: none

fix: Update gitops-lifecycle-management chart v0.1.19 with pip user installation
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
Due: none

fix: Disable validation hook in gitops-lifecycle-management chart v0.1.20
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/values.yaml
Due: none

fix: Completely disable validation hooks in gitops-lifecycle-management chart v0.1.21
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/values.yaml
Due: none

fix: Disable validation hooks in HelmRelease configuration
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
Due: kubectl-validate

Fix PostgreSQL backup configuration to resolve disk space issue
  infrastructure/postgresql-cluster/backup-configuration.yaml
  infrastructure/postgresql-cluster/kustomization.yaml
Due: kubectl-validate, kustomize-validate

Fix backup configuration schema validation errors
  infrastructure/postgresql-cluster/backup-configuration.yaml
Due: kubectl-validate

Remove invalid immediate field from backup resources
  infrastructure/postgresql-cluster/backup-configuration.yaml
Due: kubectl-validate

Fix PostgreSQL plugin configuration - add missing barmanObjectName parameter
  infrastructure/postgresql-cluster/cluster-plugin.yaml
Due: kubectl-validate

feat: execute aggressive recovery strategy - eliminate gitops-lifecycle-management
  clusters/home-ops/infrastructure/identity.yaml
  clusters/home-ops/infrastructure/outpost-config.yaml
Due: kubectl-validate

fix: increase HelmRelease timeout from 5m to 15m to resolve pre-upgrade hook timeout
  infrastructure/authentik-proxy/helmrelease-config.yaml
Due: kubectl-validate

feat!: remove gitops-lifecycle-management component
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/_helpers.tpl
  charts/gitops-lifecycle-management/templates/configmaps/controller-config.yaml
  charts/gitops-lifecycle-management/templates/configmaps/retry-helpers-configmap.yaml
  charts/gitops-lifecycle-management/templates/controllers/cleanup-controller.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-script.yaml
  charts/gitops-lifecycle-management/templates/crds/proxyconfig-crd.yaml
  charts/gitops-lifecycle-management/templates/external-secrets/authentik-outpost-secret.yaml
  charts/gitops-lifecycle-management/templates/external-secrets/authentik-token-secret.yaml
  charts/gitops-lifecycle-management/templates/external-secrets/database-credentials-secret.yaml
  charts/gitops-lifecycle-management/templates/hooks/post-install-validation.yaml
  charts/gitops-lifecycle-management/templates/hooks/pre-install-auth-setup.yaml
  charts/gitops-lifecycle-management/templates/hooks/pre-install-db-init.yaml
  charts/gitops-lifecycle-management/templates/monitoring/servicemonitor.yaml
  charts/gitops-lifecycle-management/templates/rbac/clusterrole.yaml
  charts/gitops-lifecycle-management/templates/rbac/clusterrolebinding.yaml
  charts/gitops-lifecycle-management/templates/rbac/serviceaccount.yaml
  charts/gitops-lifecycle-management/values.yaml
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
  infrastructure/gitops-lifecycle-management/kustomization.yaml
Due: kubectl-validate, kustomize-validate

feat: add comprehensive emergency recovery system
  README-AGGRESSIVE-RECOVERY.md
  docs/AGGRESSIVE_RECOVERY_STRATEGY_IMPLEMENTATION_PLAN.md
  docs/GITOPS_LIFECYCLE_MANAGEMENT_IMPLEMENTATION_GUIDE.md
  docs/GITOPS_LIFECYCLE_MANAGEMENT_POST_MORTEM.md
  docs/GITOPS_LIFECYCLE_MANAGEMENT_SUMMARY.md
  scripts/aggressive-recovery-backup.sh
  scripts/aggressive-recovery-execute.sh
  scripts/aggressive-recovery-monitor.sh
  scripts/aggressive-recovery-rollback.sh
  validate-recovery-success.sh
Due: none

fix(authentik-proxy): resolve secret reference and configuration issues
  infrastructure/authentik-proxy/database-credentials-secret.yaml
  infrastructure/authentik-proxy/helmrelease-config.yaml
  infrastructure/authentik-proxy/kustomization.yaml
Due: kubectl-validate, kustomize-validate

docs: update memory bank context and MCP configuration
  .kilocode/mcp.json
  .kilocode/rules/memory-bank/context.md
Due: none

docs: add GitOps large change set organization task
  .kilocode/rules/memory-bank/tasks.md
Due: none

config: update MCP server configuration
  .kilocode/mcp.json
Due: none

fix(authentik-proxy): resolve shell compatibility issue in service-discovery job
  charts/authentik-proxy-config/templates/service-discovery-job.yaml
Due: none

chore(authentik-proxy): bump chart version to 0.1.1
  charts/authentik-proxy-config/Chart.yaml
Due: none

fix(authentik-proxy-config): add cluster-wide RBAC permissions for service discovery
  charts/authentik-proxy-config/Chart.yaml
  charts/authentik-proxy-config/templates/rbac/clusterrole.tpl
  charts/authentik-proxy-config/templates/rbac/clusterrolebinding.tpl
Due: none

fix(authentik-proxy-config): resolve container shell execution issue
  charts/authentik-proxy-config/Chart.yaml
  charts/authentik-proxy-config/templates/service-discovery-job.yaml
Due: none

fix(authentik-proxy-config): update container image to alpine/curl for shell compatibility
  charts/authentik-proxy-config/Chart.yaml
  charts/authentik-proxy-config/values.yaml
  infrastructure/authentik-proxy/helmrelease-config.yaml
Due: kubectl-validate

fix(authentik-proxy): resolve HelmRelease hook job failures
  .secrets.baseline
  charts/authentik-proxy-config/Chart.yaml
  charts/authentik-proxy-config/values.yaml
  infrastructure/authentik-proxy/admin-token-secret.yaml
Due: kubectl-validate

fix(authentik-proxy): correct 1Password key name for admin token
  infrastructure/authentik-proxy/admin-token-secret.yaml
Due: kubectl-validate

fix(authentik-proxy-config): complete container image and curl installation fixes
  charts/authentik-proxy-config/templates/hooks/post-upgrade-config.tpl
  charts/authentik-proxy-config/templates/hooks/pre-install-readiness.tpl
  infrastructure/authentik-proxy/helmrelease-config.yaml
Due: kubectl-validate

fix(authentik-proxy-config): add missing port specification to AUTHENTIK_HOST
  charts/authentik-proxy-config/Chart.yaml
  charts/authentik-proxy-config/values.yaml
Due: none

fix(authentik-proxy-config): correct AUTHENTIK_HOST port from 80 to 9000
  charts/authentik-proxy-config/Chart.yaml
  charts/authentik-proxy-config/values.yaml
Due: none

fix(authentik-proxy-config): update readiness check to use working health endpoint
  charts/authentik-proxy-config/Chart.yaml
  charts/authentik-proxy-config/templates/hooks/pre-install-readiness.tpl
Due: none

docs: update memory bank context and exclude memory bank from markdownlint
  .kilocode/rules/memory-bank/context.md
  .pre-commit-config.yaml
Due: none

fix(authentik-proxy-config): correct authentik server port from 9000 to 80
  charts/authentik-proxy-config/values.yaml
  infrastructure/authentik-proxy/helmrelease-config.yaml
Due: kubectl-validate

fix(authentik-proxy): disable problematic pre-install readiness check
  charts/authentik-proxy-config/templates/hooks/pre-install-readiness.tpl.disabled
Due: none

fix(authentik-proxy-config): remove problematic pre-install readiness hook
  charts/authentik-proxy-config/Chart.yaml
  charts/authentik-proxy-config/templates/hooks/pre-install-readiness.tpl.disabled
Due: none

fix: stabilize cluster by removing failing hooks from authentik-proxy-config
  CLUSTER_STABILIZATION_PLAN.md
  charts/authentik-proxy-config/Chart.yaml
  charts/authentik-proxy-config/templates/hooks/post-install-config.tpl
  charts/authentik-proxy-config/templates/hooks/post-upgrade-config.tpl
  charts/authentik-proxy-config/templates/hooks/pre-install-token-setup.tpl
  charts/authentik-proxy-config/templates/service-discovery-job.yaml
  infrastructure/authentik-proxy/helmrelease-config.yaml
  infrastructure/authentik-proxy/proxy-providers-static.yaml
  infrastructure/cnpg-monitoring/scripts/backup-restore-test.sh
  infrastructure/cnpg-monitoring/scripts/health-check.sh
  infrastructure/cnpg-monitoring/scripts/performance-monitor.sh
  scripts/aggressive-recovery-backup.sh
  scripts/aggressive-recovery-execute.sh
  scripts/aggressive-recovery-monitor.sh
  scripts/aggressive-recovery-rollback.sh
  scripts/deploy-cnpg-barman-plugin-migration.sh
  scripts/flux_mcp_wrapper.py
  scripts/test-gitops-deployment.sh
  scripts/test-grafana-oidc-gitops.sh
  scripts/validate-cnpg-backup-functionality.sh
  scripts/validate-grafana-oidc-setup.sh
Due: kubectl-validate

fix(dashboard): integrate Kubernetes Dashboard with Authentik proxy authentication
  .secrets.baseline
  apps/dashboard/kong-config-rbac-viewer.yaml
  apps/dashboard/kubernetes-dashboard.yaml
  apps/dashboard/kustomization.yaml
  infrastructure/authentik-proxy/configmap.yaml
  infrastructure/authentik-proxy/ingress.yaml
  infrastructure/authentik-proxy/proxy-providers-static.yaml
Due: kubectl-validate, kustomize-validate

revert(dashboard): use Dashboard's native Kong authentication instead of Authentik proxy
  .secrets.baseline
  apps/dashboard/kubernetes-dashboard.yaml
  infrastructure/authentik-proxy/configmap.yaml
  infrastructure/authentik-proxy/ingress.yaml
  infrastructure/authentik-proxy/proxy-providers-static.yaml
Due: kubectl-validate
