Repository geoffdavis/talos-gitops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubectl-validate, kustomize-validate, pytest-critical

Path conditions:
  kubectl-validate: any of: (?x)^(
  infrastructure/.*\.yaml$|
  apps/.*\.yaml$|
  clusters/.*\.yaml$
)
 and not ((?x)^(
  .*kustomization\.yaml$|
  .*kustomization-.*\.yaml$
)$
) and not ((?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$
)
  kustomize-validate: any of: kustomization\.yaml$, but not: (?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$

  pytest-critical: any of: scripts/token-management/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$


feat(headlamp): add Headlamp dashboard with OIDC authentication
  apps/dashboard/DASHBOARD_AUTH.md
  apps/dashboard/DASHBOARD_COMPARISON.md
  apps/dashboard/kubernetes-dashboard.yaml
  apps/headlamp/AUTHENTIK_SETUP.md
  apps/headlamp/headlamp-oidc-secret.yaml
  apps/headlamp/helmrelease.yaml
  apps/headlamp/helmrepository.yaml
  apps/headlamp/kustomization.yaml
  apps/headlamp/namespace.yaml
  apps/headlamp/rbac.yaml
  clusters/home-ops/infrastructure/apps.yaml
  infrastructure/authentik-proxy/helmrelease-config.yaml
  scripts/dashboard-login.sh
Due: kubectl-validate, kustomize-validate

fix(headlamp): correct external-secrets dependency name
  clusters/home-ops/infrastructure/apps.yaml
Due: kubectl-validate

fix(headlamp): update ExternalSecret API version to v1
  apps/headlamp/headlamp-oidc-secret.yaml
Due: kubectl-validate

fix(headlamp): correct HelmRepository URL
  apps/headlamp/helmrepository.yaml
Due: kubectl-validate

fix(headlamp): use correct Helm repository URL
  apps/headlamp/helmrepository.yaml
  apps/headlamp/kustomization.yaml
Due: kubectl-validate, kustomize-validate

fix(headlamp): correct HelmRelease values for OIDC secret
  apps/headlamp/helmrelease.yaml
Due: kubectl-validate

fix(headlamp): move pathType to correct location in ingress values
  apps/headlamp/helmrelease.yaml
Due: kubectl-validate

fix(headlamp): correct ingress paths configuration to use object format
  apps/headlamp/helmrelease.yaml
Due: kubectl-validate

fix(headlamp): use 'type' instead of 'pathType' for ingress paths
  apps/headlamp/helmrelease.yaml
Due: kubectl-validate

fix(headlamp): remove server-snippet annotation, use large-client-header-buffers instead
  apps/headlamp/helmrelease.yaml
Due: kubectl-validate

fix(headlamp): add allowPrivilegeEscalation=false to security context
  apps/headlamp/helmrelease.yaml
Due: kubectl-validate

fix(headlamp): fix baseURL and add writable config volume
  apps/headlamp/helmrelease.yaml
Due: kubectl-validate

fix(headlamp): disable readOnlyRootFilesystem to allow Headlamp to write required files
  apps/headlamp/helmrelease.yaml
Due: kubectl-validate

feat(headlamp): add GitOps Authentik configuration job
  apps/headlamp/authentik-config-job.yaml
  apps/headlamp/authentik-token-copy.yaml
  apps/headlamp/kustomization.yaml
Due: kubectl-validate, kustomize-validate

fix(headlamp): disable 1Password ExternalSecret temporarily
  apps/headlamp/kustomization.yaml
Due: kustomize-validate

fix(headlamp): correct 1Password reference for Authentik admin token
  apps/headlamp/authentik-token-copy.yaml
Due: kubectl-validate

fix(headlamp): use ClusterSecretStore for Authentik token
  apps/headlamp/authentik-token-copy.yaml
Due: kubectl-validate

fix(headlamp): add HOME env var to fix pip install permissions
  apps/headlamp/authentik-config-job.yaml
Due: kubectl-validate

fix(headlamp): use internal Authentik service URL for Job configuration
  apps/headlamp/authentik-config-job.yaml
Due: kubectl-validate

fix(headlamp): disable problematic authentik-config-job
  apps/headlamp/kustomization.yaml
Due: kustomize-validate

fix(dashboard): resolve duplicate Role name conflict
  apps/dashboard/kong-config-rbac-viewer.yaml
Due: kubectl-validate

feat(dashboard): configure Dashboard as internal-only, bypass Authentik proxy
  apps/dashboard/kubernetes-dashboard.yaml
  infrastructure/authentik-proxy/README.md
  infrastructure/authentik-proxy/fix-oauth2-redirect-urls-job.yaml
  infrastructure/authentik-proxy/outpost-id-configmap.yaml
  infrastructure/authentik-proxy/proxy-config-job-python.yaml
  infrastructure/authentik-proxy/proxy-config-job.yaml
  infrastructure/authentik-proxy/test-authentication-flow.yaml
Due: kubectl-validate

fix(authentik-proxy): add Home Assistant to proxy configuration
  CLUSTER_STABILIZATION_PLAN.md
  apps/dashboard/dashboard-auto-auth.yaml
  apps/dashboard/dashboard-auto-login-bookmarklet.html
  apps/dashboard/dashboard-auto-login.yaml
  apps/dashboard/oauth2-proxy-secret.yaml
  apps/dashboard/oauth2-proxy.yaml
  infrastructure/authentik-proxy/outpost-id-configmap.yaml
  infrastructure/authentik-proxy/proxy-config-job.yaml
Due: kubectl-validate

fix(authentik-proxy-config): disable dashboard and ensure homeassistant is configured
  charts/authentik-proxy-config/values.yaml
Due: none

feat: add Home Assistant database to shared PostgreSQL cluster
  infrastructure/postgresql-cluster/homeassistant-database-credentials.yaml
  infrastructure/postgresql-cluster/homeassistant-database.yaml
  infrastructure/postgresql-cluster/kustomization.yaml
Due: kubectl-validate, kustomize-validate

feat: migrate Home Assistant to use shared PostgreSQL cluster
  apps/home-automation/home-assistant/deployment.yaml
  apps/home-automation/home-assistant/external-secret.yaml
Due: kubectl-validate

feat: add homeassistant database user to shared PostgreSQL cluster
  infrastructure/postgresql-cluster/homeassistant-database-user.yaml
  infrastructure/postgresql-cluster/kustomization.yaml
Due: kubectl-validate, kustomize-validate

fix: replace CNPG Database/User resources with initialization Job
  apps/home-automation/home-assistant/deployment.yaml
  apps/home-automation/home-assistant/external-secret.yaml
  infrastructure/postgresql-cluster/homeassistant-database-credentials.yaml
  infrastructure/postgresql-cluster/homeassistant-database-user.yaml
  infrastructure/postgresql-cluster/homeassistant-database.yaml
  infrastructure/postgresql-cluster/homeassistant-user-creation-job.yaml
  infrastructure/postgresql-cluster/kustomization.yaml
Due: kubectl-validate, kustomize-validate

fix: add PostgreSQL cluster credentials to home-automation namespace
  apps/home-automation/home-assistant/kustomization.yaml
  apps/home-automation/home-assistant/postgresql-cluster-credentials.yaml
Due: kubectl-validate, kustomize-validate

Remove dedicated PostgreSQL cluster for Home Assistant
  apps/home-automation/kustomization.yaml
Due: kustomize-validate

Remove homeassistant user creation job
  infrastructure/postgresql-cluster/homeassistant-user-creation-job.yaml
  infrastructure/postgresql-cluster/kustomization.yaml
Due: kubectl-validate, kustomize-validate

Enable superuser access on PostgreSQL cluster
  infrastructure/postgresql-cluster/cluster.yaml
Due: kubectl-validate

docs(memory-bank): update architecture, context, brief, tasks, and tech after emergency recovery completion
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/brief.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/tasks.md
  .kilocode/rules/memory-bank/tech.md
Due: none
