Repository geoffdavis/talos-gitops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubectl-validate, kustomize-validate, pytest-critical

Path conditions:
  kubectl-validate: any of: (?x)^(
  infrastructure/.*\.yaml$|
  apps/.*\.yaml$|
  clusters/.*\.yaml$
)
 and not ((?x)^(
  .*kustomization\.yaml$|
  .*kustomization-.*\.yaml$
)$
) and not ((?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$
)
  kustomize-validate: any of: kustomization\.yaml$, but not: (?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$

  pytest-critical: any of: scripts/token-management/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$


this is not a conventional commit message
  test_file.txt
Due: none

fix: implement working conventional commit message validation hook
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

fix: properly configure Mosquitto listeners to avoid port conflicts
  apps/home-automation/mosquitto/configmap.yaml
Due: kubectl-validate

fix: disable default Mosquitto listener to prevent port conflicts
  apps/home-automation/mosquitto/configmap.yaml
Due: kubectl-validate

fix: simplify Mosquitto listener configuration to prevent conflicts
  apps/home-automation/mosquitto/configmap.yaml
Due: kubectl-validate

fix: use minimal Mosquitto configuration to prevent port conflicts
  apps/home-automation/mosquitto/configmap.yaml
Due: kubectl-validate

fix: remove pre-commit test files
  pyproject.toml
  test_file.txt
  test_validation.md
Due: none

docs: update memory bank
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/brief.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/tasks.md
  .kilocode/rules/memory-bank/tech.md
  .secrets.baseline
Due: none

fix: resolve monitoring stack HelmRelease conflicts
  apps/monitoring/kustomization.yaml
  apps/monitoring/namespace.yaml
  apps/monitoring/prometheus.yaml
  clusters/home-ops/infrastructure/apps.yaml
Due: kubectl-validate, kustomize-validate

Fix LoadBalancer IPAM issue by adding required labels
  apps/home-automation/mosquitto/service.yaml
  infrastructure/monitoring/prometheus.yaml
Due: kubectl-validate

docs: update memory bank with monitoring fixes
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/tasks.md
Due: none

Remove redundant home-assistant-proxy-config job
  apps/home-automation/home-assistant/kustomization.yaml
Due: kustomize-validate

fix(home-automation): remove redundant authentik-proxy config job
  apps/home-automation/home-assistant/authentik-proxy-config-job.yaml
Due: kubectl-validate

fix(bgp): resolve LoadBalancer connectivity with unified BGP architecture
  .secrets.baseline
  infrastructure/cilium-bgp/bgp-policy-legacy.yaml
  infrastructure/ingress-nginx-internal/helmrelease.yaml
Due: kubectl-validate

Deploy label-based service discovery for Home Assistant authentication
  infrastructure/authentik-proxy/kustomization.yaml
Due: kustomize-validate

Add service discovery job and fix pre-commit prettier config
  .pre-commit-config.yaml
  infrastructure/authentik-proxy/service-discovery-job.yaml
Due: kubectl-validate

feat: implement label-based service discovery for Authentik proxy
  .pre-commit-config.yaml
  .secrets.baseline
  .yamllint.yaml
  apps/home-automation/home-assistant/service.yaml
  charts/authentik-proxy-config/templates/service-discovery-job.yaml
  charts/authentik-proxy-config/values.yaml
  docs/AUTHENTIK_LABEL_BASED_DISCOVERY.md
Due: kubectl-validate

refactor: externalize service discovery configuration to ConfigMap
  infrastructure/authentik-proxy/kustomization.yaml
  infrastructure/authentik-proxy/service-discovery-config.yaml
  infrastructure/authentik-proxy/service-discovery-job.yaml
Due: kubectl-validate, kustomize-validate

fix: update service discovery job image to include curl
  infrastructure/authentik-proxy/service-discovery-job.yaml
Due: kubectl-validate

fix: remove authentik-proxy dependency from home-automation app
  clusters/home-ops/infrastructure/apps.yaml
Due: kubectl-validate

feat: add admin token secret for service discovery
  infrastructure/authentik-proxy/admin-token-secret.yaml
  infrastructure/authentik-proxy/kustomization.yaml
  infrastructure/authentik-proxy/rbac.yaml
  infrastructure/authentik-proxy/service-discovery-job.yaml
Due: kubectl-validate, kustomize-validate

fix: add invalidation_flow to service discovery configuration
  infrastructure/authentik-proxy/service-discovery-config.yaml
  infrastructure/authentik-proxy/service-discovery-job.yaml
Due: kubectl-validate

fix: use existing admin token from authentik namespace
  infrastructure/authentik-proxy/kustomization.yaml
Due: kustomize-validate

feat: commit infrastructure changes from troubleshooting
  charts/authentik-proxy-config/templates/service-discovery-job.yaml
  clusters/home-ops/infrastructure/networking.yaml
  clusters/home-ops/infrastructure/storage.yaml
  infrastructure/authentik-outpost-config/README.md
Due: kubectl-validate

feat: commit application changes from troubleshooting
  apps/home-automation/home-assistant/deployment.yaml
  apps/home-automation/mosquitto/external-secret.yaml
  apps/home-automation/postgresql/cluster.yaml
  apps/home-automation/postgresql/external-secret-s3-backup.yaml
Due: kubectl-validate

Add Authentik service discovery labels and annotations to Dashboard service
  apps/dashboard/kubernetes-dashboard.yaml
Due: kubectl-validate

Fix Kong service configuration for Authentik service discovery
  apps/dashboard/kubernetes-dashboard.yaml
Due: kubectl-validate

Fix Dashboard authentication mode to use header-based auth
  apps/dashboard/kubernetes-dashboard.yaml
Due: kubectl-validate

Add permanent Kustomize patch for Dashboard service authentik.io labels
  apps/dashboard/kong-service-patch.yaml
  apps/dashboard/kustomization.yaml
Due: kubectl-validate, kustomize-validate

Fix Dashboard service authentik.io labels using JSON patches
  apps/dashboard/kustomization.yaml
Due: kustomize-validate

Fix Home Assistant reverse proxy configuration
  apps/home-automation/home-assistant/configmap.yaml
  apps/home-automation/home-assistant/deployment.yaml
Due: kubectl-validate

docs: Update memory bank with additional auth fixes
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/memory-bank-instructions.md
  .kilocode/rules/memory-bank/tasks.md
  .kilocode/rules/memory-bank/tech.md
  .secrets.baseline
Due: none

chore: clean up unused service patch
  apps/dashboard/kong-service-patch.yaml
Due: kubectl-validate

style: clean up gotk-components
  clusters/home-ops/flux-system/gotk-components.yaml
Due: kubectl-validate

docs: clean up unneeded oath2 doc
  AUTHENTIK_OAUTH2_REDIRECT_INVESTIGATION_REPORT.md
Due: none

style(docs): clean up markdown
  README.md
  docs/ALL_CONTROL_PLANE_SETUP.md
  docs/AUTHENTIK_ENHANCED_TOKEN_MANAGEMENT.md
  docs/AUTHENTIK_EXTERNAL_OUTPOST_CONNECTION_FIX_DOCUMENTATION.md
  docs/BACKUP_IMPLEMENTATION_GUIDE.md
  docs/BGP_CONFIGURATION.md
  docs/BGP_ONLY_LOADBALANCER_MIGRATION.md
  docs/BOOTSTRAP_VS_GITOPS_ARCHITECTURE.md
  docs/CLOUDFLARE_TUNNEL_CREDENTIAL_CREATION.md
  docs/CLUSTER_REBUILD_FIXES.md
  docs/CLUSTER_RECOVERY.md
  docs/CLUSTER_RECOVERY_STATUS.md
  docs/COMPREHENSIVE_BACKUP_STRATEGY.md
  docs/FLUX_GITHUB_WEBHOOK_ARCHITECTURE.md
  docs/FLUX_GITHUB_WEBHOOK_DEPLOYMENT_GUIDE.md
  docs/FLUX_TIMEOUT_CONFIGURATION_GUIDE.md
  docs/INFRASTRUCTURE_SECURITY_HARDENING.md
  docs/LLDPD_CONFIGURATION_FIX.md
  docs/LONGHORN_DASHBOARD_ACCESS.md
  docs/LONGHORN_USB_SSD_CONFIGURATION_SUMMARY.md
  docs/NETWORK_RECOVERY_STATUS_REPORT.md
  docs/OAUTH2_REDIRECT_URL_FIX.md
  docs/PRE_COMMIT_IMPLEMENTATION_SUMMARY.md
  docs/USB_SSD_DEPLOYMENT_SUMMARY.md
  docs/USB_SSD_OPERATIONAL_PROCEDURES.md
  docs/WEEK3_INFRASTRUCTURE_DEPLOYMENT_REPORT.md
Due: none

docs: Reorganize documentation into hierarchical structure
  README.md
  docs/AUTHENTIK_LABEL_BASED_DISCOVERY.md
  docs/CERTIFICATE_ISSUE_RESOLUTION.md
  docs/CLUSTER_REBUILD_FIXES.md
  docs/OAUTH2_REDIRECT_URL_FIX.md
  docs/README.md
  docs/REMOVED_FILES.md
  docs/WEEK1_STABILIZATION_REPORT.md
  docs/WEEK2_CONFIGURATION_FIXES_REPORT.md
  docs/WEEK4_GITOPS_ENABLEMENT_REPORT.md
  docs/architecture/README.md
  docs/architecture/bootstrap-vs-gitops.md
  docs/components/README.md
  docs/components/applications/home-assistant.md
  docs/components/networking/bgp-loadbalancer.md
  docs/components/storage/usb-ssd-operations.md
  docs/development/README.md
  docs/getting-started/README.md
  docs/operations/README.md
  docs/reference/README.md
  infrastructure/authentik-proxy/admin-token-secret.yaml
Due: kubectl-validate

feat: Complete Bitnami migration with static ConfigMaps and curl dependency fix
  README.md
  apps/dashboard/dashboard-frontend-config.yaml
  apps/dashboard/dashboard-settings-static.yaml
  apps/dashboard/kong-config-static.yaml
  apps/dashboard/kong-token-injection-job.yaml
  apps/dashboard/kustomization.yaml
  apps/home-automation/README.md
  apps/home-automation/home-assistant/configmap.yaml
  apps/home-automation/matter-server/DEPLOYMENT.md
  apps/home-automation/matter-server/OPERATIONAL_PROCEDURES.md
  apps/home-automation/matter-server/README.md
  apps/home-automation/matter-server/TESTING.md
  apps/home-automation/matter-server/helmrelease.yaml
  apps/home-automation/matter-server/kustomization.yaml
  charts/authentik-proxy-config/templates/service-discovery-job.yaml
  docs/BITNAMI_MIGRATION_GUIDE.md
  docs/BITNAMI_MIGRATION_TESTING.md
  docs/BOOTSTRAP_VS_GITOPS_PHASES.md
  docs/COMPONENT_MIGRATION_GUIDE.md
  docs/OPERATIONAL_WORKFLOWS.md
  docs/README.md
  infrastructure/authentik-proxy/kustomization.yaml
  infrastructure/authentik-proxy/outpost-id-static.yaml
  infrastructure/authentik-proxy/proxy-config-job-external.yaml.template
  infrastructure/authentik-proxy/proxy-config-job-python.yaml
  infrastructure/authentik-proxy/proxy-config-job-simple.yaml
  infrastructure/longhorn/backup-monitoring.yaml
  infrastructure/longhorn/backup-restore-procedures.yaml
  infrastructure/longhorn/database-backup-examples.yaml
  infrastructure/longhorn/volume-snapshots-critical.yaml
  infrastructure/sources/helm-repositories.yaml
Due: kubectl-validate, kustomize-validate

fix: Remove duplicate kong-config.yaml from Dashboard kustomization
  apps/dashboard/kustomization.yaml
Due: kustomize-validate

Fix authentik-service-discovery Job for Bitnami migration
  infrastructure/authentik-proxy/service-discovery-job.yaml
Due: kubectl-validate
