Repository geoffdavis/talos-gitops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubectl-validate, kustomize-validate, pytest-critical

Path conditions:
  kubectl-validate: any of: (?x)^(
  infrastructure/.*\.yaml$|
  apps/.*\.yaml$|
  clusters/.*\.yaml$
)
 and not ((?x)^(
  .*kustomization\.yaml$|
  .*kustomization-.*\.yaml$
)$
) and not ((?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$
)
  kustomize-validate: any of: kustomization\.yaml$, but not: (?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$

  pytest-critical: any of: scripts/token-management/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$


Fix: Resolve Flux reconciliation issues for home-automation and authentik-proxy
  apps/home-automation/matter-server/helmrelease.yaml
  apps/home-automation/postgresql/database-init-job.yaml
  infrastructure/authentik-proxy/service-discovery-job.yaml
Due: kubectl-validate

fix: resolve PodSecurity violations in authentik service discovery job
  infrastructure/authentik-proxy/service-discovery-job.yaml
Due: kubectl-validate

refactor: convert service discovery Job to CronJob for periodic execution
  infrastructure/authentik-proxy/service-discovery-job.yaml
Due: kubectl-validate

docs: update memory bank
  .kilocode/rules/memory-bank/context.md
Due: none

feat: Complete Phase 4 advanced documentation and maintenance procedures
  README.md
  apps/home-automation/README.md
  docs/architecture/bootstrap-vs-gitops.md
  docs/development/contributing.md
  docs/operations/disaster-recovery.md
  docs/operations/documentation-maintenance.md
  docs/operations/troubleshooting.md
  docs/reference/advanced-configuration.md
Due: none

cleanup[docs]: easy lint fixes
  docs/architecture/bootstrap-vs-gitops.md
  docs/operations/disaster-recovery.md
  docs/operations/troubleshooting.md
Due: none

docs: Phase 5 - Polish and cleanup documentation structure
  README.md
  docs/README.md
Due: none

feat(home-automation): migrate Home Assistant to persistent volume configuration
  .gitignore
  .pre-commit-config.yaml
  apps/home-automation/CONFIGURATION_MANAGEMENT_GUIDE.md
  apps/home-automation/HOME_ASSISTANT_CONFIG_MIGRATION.md
  apps/home-automation/HOME_ASSISTANT_OPERATIONAL_PROCEDURES.md
  apps/home-automation/README.md
  apps/home-automation/home-assistant/deployment.yaml
  docs/MISE_TOOL_MANAGEMENT.md
  docs/architecture/bootstrap-vs-gitops.md
  docs/development/contributing.md
  docs/operations/disaster-recovery.md
  docs/operations/documentation-maintenance.md
  docs/operations/troubleshooting.md
  docs/reference/advanced-configuration.md
  scripts/authentik-proxy-config/test_configure_proxy.py
Due: kubectl-validate

style: clean up various formatting issues
  apps/home-automation/HOME_ASSISTANT_OPERATIONAL_PROCEDURES.md
  apps/home-automation/README.md
  apps/home-automation/matter-server/DEPLOYMENT.md
  apps/home-automation/matter-server/README.md
  apps/home-automation/matter-server/TESTING.md
  docs/BITNAMI_MIGRATION_TESTING.md
  docs/architecture/bootstrap-vs-gitops.md
  docs/operations/disaster-recovery.md
  scripts/authentik-proxy-config/test_configure_proxy.py
Due: none

Migrate Home Assistant PostgreSQL cluster from deprecated barmanObjectStore to plugin-based backup
  apps/home-automation/postgresql/cluster.yaml
  apps/home-automation/postgresql/external-secret-s3-backup.yaml
Due: kubectl-validate

feat(infrastructure): migrate PostgreSQL cluster to plugin-based backup
  .secrets.baseline
  infrastructure/postgresql-cluster/cluster.yaml
Due: kubectl-validate

feat: Implement comprehensive CloudNativePG Barman Plugin migration
  .secrets.baseline
  apps/home-automation/postgresql/cluster-plugin.yaml
  apps/home-automation/postgresql/kustomization.yaml
  apps/home-automation/postgresql/objectstore.yaml
  clusters/home-ops/infrastructure/core.yaml
  clusters/home-ops/infrastructure/database.yaml
  docs/CNPG_BARMAN_PLUGIN_DISASTER_RECOVERY_PROCEDURES.md
  docs/CNPG_BARMAN_PLUGIN_MIGRATION_GUIDE.md
  docs/CNPG_BARMAN_PLUGIN_MIGRATION_PLAN.md
  docs/CNPG_BARMAN_PLUGIN_MIGRATION_PROJECT_SUMMARY.md
  docs/CNPG_BARMAN_PLUGIN_OPERATIONAL_RUNBOOKS.md
  docs/CNPG_BARMAN_PLUGIN_OPERATOR_QUICK_REFERENCE.md
  docs/CNPG_MIGRATION_DEPLOYMENT_READY.md
  infrastructure/cnpg-barman-plugin/helmrelease.yaml
  infrastructure/cnpg-barman-plugin/helmrepository.yaml
  infrastructure/cnpg-barman-plugin/kustomization.yaml
  infrastructure/cnpg-barman-plugin/namespace.yaml
  infrastructure/cnpg-monitoring/grafana-dashboard.yaml
  infrastructure/cnpg-monitoring/health-check-cronjob.yaml
  infrastructure/cnpg-monitoring/kustomization.yaml
  infrastructure/cnpg-monitoring/namespace.yaml
  infrastructure/cnpg-monitoring/prometheus-rules.yaml
  infrastructure/cnpg-monitoring/rbac.yaml
  infrastructure/cnpg-monitoring/service-monitor.yaml
  infrastructure/postgresql-cluster/cluster-plugin.yaml
  infrastructure/postgresql-cluster/kustomization.yaml
  infrastructure/postgresql-cluster/objectstore.yaml
  scripts/cnpg-monitoring/backup-restore-test.sh
  scripts/cnpg-monitoring/health-check.sh
  scripts/cnpg-monitoring/performance-monitor.sh
  scripts/deploy-cnpg-barman-plugin-migration.sh
  scripts/validate-cnpg-backup-functionality.sh
Due: kubectl-validate, kustomize-validate

Fix CNPG operator label selector in migration deployment script
  scripts/deploy-cnpg-barman-plugin-migration.sh
Due: none

Fix CNPG Barman Plugin HelmRepository URL
  infrastructure/cnpg-barman-plugin/helmrepository.yaml
Due: kubectl-validate

Remove incorrect CNPG Barman Plugin Helm chart approach
  clusters/home-ops/infrastructure/core.yaml
  clusters/home-ops/infrastructure/database.yaml
Due: kubectl-validate

feat: Deploy CNPG Barman Plugin via GitOps
  clusters/home-ops/infrastructure/core.yaml
  clusters/home-ops/infrastructure/database.yaml
Due: kubectl-validate

feat: Update CNPG Barman Plugin to use official manifest
  infrastructure/cnpg-barman-plugin/kustomization.yaml
Due: kustomize-validate

fix: Remove invalid retention fields from ObjectStore configuration
  apps/home-automation/postgresql/objectstore.yaml
  infrastructure/postgresql-cluster/objectstore.yaml
Due: kubectl-validate

fix: Remove invalid schema fields from PostgreSQL cluster configuration
  .secrets.baseline
  infrastructure/postgresql-cluster/cluster.yaml
Due: kubectl-validate

fix: remove unsupported schema fields from PostgreSQL cluster plugin config
  infrastructure/postgresql-cluster/cluster-plugin.yaml
Due: kubectl-validate

fix: remove containerSecurityContext field from PostgreSQL cluster plugin config
  infrastructure/postgresql-cluster/cluster-plugin.yaml
Due: kubectl-validate

fix: remove podSecurityContext field from PostgreSQL cluster plugin config
  infrastructure/postgresql-cluster/cluster-plugin.yaml
  infrastructure/postgresql-cluster/cluster.yaml
Due: kubectl-validate

fix: remove CNPG managed PostgreSQL parameters
  infrastructure/postgresql-cluster/cluster-plugin.yaml
Due: kubectl-validate

fix: resolve TLS certificate and namespace issues for PostgreSQL cluster
  apps/home-automation/postgresql/cluster-plugin.yaml
  docs/CNPG_BARMAN_PLUGIN_DISASTER_RECOVERY_PROCEDURES.md
  docs/CNPG_BARMAN_PLUGIN_MIGRATION_GUIDE.md
  docs/CNPG_BARMAN_PLUGIN_MIGRATION_PLAN.md
  docs/CNPG_BARMAN_PLUGIN_MIGRATION_PROJECT_SUMMARY.md
  docs/CNPG_BARMAN_PLUGIN_OPERATIONAL_RUNBOOKS.md
  docs/CNPG_BARMAN_PLUGIN_OPERATOR_QUICK_REFERENCE.md
  docs/CNPG_MIGRATION_DEPLOYMENT_READY.md
  infrastructure/cnpg-barman-plugin/helmrelease.yaml
  infrastructure/cnpg-barman-plugin/helmrepository.yaml
  infrastructure/cnpg-barman-plugin/namespace.yaml
  infrastructure/cnpg-monitoring/grafana-dashboard.yaml
  infrastructure/cnpg-monitoring/health-check-cronjob.yaml
  infrastructure/cnpg-monitoring/kustomization.yaml
  infrastructure/cnpg-monitoring/namespace.yaml
  infrastructure/cnpg-monitoring/prometheus-rules.yaml
  infrastructure/cnpg-monitoring/rbac.yaml
  infrastructure/cnpg-monitoring/service-monitor.yaml
  infrastructure/postgresql-cluster/cluster-plugin.yaml
Due: kubectl-validate, kustomize-validate

fix: add missing ScheduledBackup resource to enable plugin-based backups
  apps/home-automation/postgresql/kustomization.yaml
Due: kustomize-validate

fix: resolve CNPG monitoring namespace conflicts
  infrastructure/cnpg-monitoring/grafana-dashboard.yaml
  infrastructure/cnpg-monitoring/kustomization.yaml
  infrastructure/cnpg-monitoring/prometheus-rules.yaml
  infrastructure/cnpg-monitoring/service-monitor.yaml
Due: kubectl-validate, kustomize-validate

temp: remove postgresql-backup-plugin.yaml to force Flux cache refresh
  apps/home-automation/postgresql/kustomization.yaml
Due: kustomize-validate

fix: restore postgresql-backup-plugin.yaml after Flux cache refresh
  apps/home-automation/postgresql/kustomization.yaml
Due: kustomize-validate

fix: add postgresql-backup-plugin.yaml (was ignored by .gitignore *backup*.yaml pattern)
  apps/home-automation/postgresql/postgresql-backup-plugin.yaml
Due: kubectl-validate

fix: add pluginConfiguration to Backup resources for CNPG plugin method
  apps/home-automation/postgresql/postgresql-backup-plugin.yaml
Due: kubectl-validate

Fix CNPG monitoring configuration namespace issues
  infrastructure/cnpg-monitoring/kustomization.yaml
  infrastructure/cnpg-monitoring/rbac.yaml
  infrastructure/cnpg-monitoring/scripts/backup-restore-test.sh
  infrastructure/cnpg-monitoring/scripts/health-check.sh
  infrastructure/cnpg-monitoring/scripts/performance-monitor.sh
Due: kubectl-validate, kustomize-validate

Fix PrometheusRule template function compatibility issues
  infrastructure/cnpg-monitoring/prometheus-rules.yaml
  scripts/cnpg-monitoring/backup-restore-test.sh
  scripts/cnpg-monitoring/health-check.sh
  scripts/cnpg-monitoring/performance-monitor.sh
Due: kubectl-validate

Complete CNPG Barman Plugin migration
  apps/home-automation/postgresql/cluster.yaml
  apps/home-automation/postgresql/postgresql-backup.yaml
Due: kubectl-validate

Fix CNPG Barman Plugin parameter name
  apps/home-automation/postgresql/cluster.yaml
Due: kubectl-validate

Fix ObjectStore S3 credential key references
  apps/home-automation/postgresql/objectstore.yaml
Due: kubectl-validate

docs: update memory bank with CNPG barman update
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/brief.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/tasks.md
  .kilocode/rules/memory-bank/tech.md
Due: none

docs: Add documentation regarding CNPG barman update
  .secrets.baseline
  docs/CNPG_BARMAN_PLUGIN_LESSONS_LEARNED_TROUBLESHOOTING_GUIDE.md
  docs/CNPG_BARMAN_PLUGIN_MIGRATION_COMPLETE_JOURNEY.md
  docs/CNPG_BARMAN_PLUGIN_MIGRATION_PROJECT_SUMMARY.md
  docs/CNPG_BARMAN_PLUGIN_MONITORING_PRODUCTION_READINESS.md
  docs/CNPG_BARMAN_PLUGIN_OPERATIONAL_RUNBOOKS.md
  docs/architecture/bootstrap-vs-gitops.md
  docs/architecture/overview.md
Due: none

Fix external Authentik outpost authentication configuration
  apps/dashboard/kong-config-static.yaml
  docs/CNPG_BARMAN_PLUGIN_LESSONS_LEARNED_TROUBLESHOOTING_GUIDE.md
  docs/CNPG_BARMAN_PLUGIN_MIGRATION_COMPLETE_JOURNEY.md
  docs/CNPG_BARMAN_PLUGIN_MIGRATION_PROJECT_SUMMARY.md
  docs/CNPG_BARMAN_PLUGIN_MONITORING_PRODUCTION_READINESS.md
  docs/CNPG_BARMAN_PLUGIN_OPERATIONAL_RUNBOOKS.md
  docs/architecture/bootstrap-vs-gitops.md
  infrastructure/authentik-proxy/configmap.yaml
  infrastructure/authentik-proxy/deployment.yaml
  infrastructure/authentik-proxy/kustomization.yaml
  infrastructure/authentik-proxy/service-discovery-job.yaml
  infrastructure/authentik-proxy/test-authentication-flow.yaml
Due: kubectl-validate, kustomize-validate

CRITICAL FIX: Update authentik-proxy deployment to use correct external outpost token
  infrastructure/authentik-proxy/deployment.yaml
Due: kubectl-validate
