Repository geoffdavis/talos-gitops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubectl-validate, kustomize-validate, pytest-critical

kubectl-validate:
  name: ‚ò∏Ô∏è  Kubernetes manifest validation
  entry: bash -c 'for file in "$@"; do kubectl apply --dry-run=client -f "$file" > /dev/null; done' --
  language: system
  pass_filenames: true

kustomize-validate:
  name: ‚ò∏Ô∏è  Kustomize validation
  entry: bash -c 'find . -name "kustomization.yaml" -execdir kustomize build . > /dev/null \;'
  language: system
  pass_filenames: false

pytest-critical:
  name: üß™ Python tests (critical scripts)
  entry: bash -c 'cd scripts/token-management && mise exec -- python -m pytest test_authentik_token_manager.py -v'
  language: system
  pass_filenames: false

fix: Update authentik-proxy namespace PodSecurity policy to privileged
  infrastructure/authentik-proxy/namespace.yaml
Due: kubectl-validate

fix: Resolve authentik-proxy deployment blocking issues
  infrastructure/authentik-proxy/kustomization.yaml
Due: kustomize-validate

fix(authentik-proxy): resolve service discovery job environment variable interpolation
  infrastructure/authentik-proxy/kustomization.yaml
  infrastructure/authentik-proxy/service-discovery-job.yaml
Due: kubectl-validate, kustomize-validate

feat: implement hybrid authentication strategy for cluster services
  apps/dashboard/dashboard-oidc-secret.yaml
  apps/dashboard/kubernetes-dashboard.yaml
  apps/dashboard/kustomization.yaml
  docs/GRAFANA_OIDC_MIGRATION_GUIDE.md
  docs/HYBRID_AUTHENTICATION_IMPLEMENTATION_SUMMARY.md
  docs/PROMETHEUS_ACCESS_GUIDE.md
  infrastructure/authentik-outpost-config/dashboard-oidc-setup-job.yaml
  infrastructure/authentik-outpost-config/grafana-oidc-setup-job.yaml
  infrastructure/authentik-outpost-config/kustomization.yaml
  infrastructure/authentik-proxy/configmap.yaml
  infrastructure/authentik-proxy/kustomization.yaml
  infrastructure/authentik-proxy/service-discovery-job.yaml
  infrastructure/authentik-proxy/static-proxy-config.yaml
  infrastructure/monitoring/grafana-oidc-secret.yaml
  infrastructure/monitoring/kustomization.yaml
  infrastructure/monitoring/prometheus.yaml
Due: kubectl-validate, kustomize-validate

fix: add missing infrastructure-authentik-outpost-config kustomization
  clusters/home-ops/infrastructure/identity.yaml
Due: kubectl-validate

Remove Prometheus from external access via authentik-proxy
  .secrets.baseline
  infrastructure/authentik-proxy/ingress.yaml
Due: kubectl-validate

feat: implement hybrid authentication strategy with OIDC integration
  .kilocode/rules/workspace.md
  apps/dashboard/dashboard-oidc-secret.yaml
  clusters/home-ops/infrastructure/identity.yaml
  clusters/home-ops/infrastructure/monitoring.yaml
  clusters/home-ops/infrastructure/outpost-config.yaml
  docs/GRAFANA_OIDC_GITOPS_AUTOMATION.md
  infrastructure/authentik-outpost-config/dashboard-oidc-setup-job.yaml
  infrastructure/authentik-outpost-config/grafana-oidc-setup-job.yaml
  infrastructure/authentik-outpost-config/kustomization.yaml
  infrastructure/authentik-outpost-config/rbac.yaml
  infrastructure/monitoring/grafana-oidc-secret.yaml
  scripts/test-gitops-deployment.sh
  scripts/test-grafana-oidc-gitops.sh
  scripts/validate-grafana-oidc-setup.sh
Due: kubectl-validate, kustomize-validate

fix: remove invalid vault field from ExternalSecret configurations
  apps/dashboard/dashboard-oidc-secret.yaml
  infrastructure/monitoring/grafana-oidc-secret.yaml
Due: kubectl-validate

feat: replace static proxy Job with HelmRelease for better GitOps reliability
  infrastructure/authentik-proxy/helmrelease-config.yaml
  infrastructure/authentik-proxy/kustomization.yaml
Due: kubectl-validate, kustomize-validate

fix: use ClusterSecretStore for OIDC external secrets
  apps/dashboard/dashboard-oidc-secret.yaml
  infrastructure/monitoring/grafana-oidc-secret.yaml
Due: kubectl-validate

feat: implement hybrid authentication strategy fixes
  .secrets.baseline
  clusters/home-ops/infrastructure/monitoring.yaml
  clusters/home-ops/kustomization.yaml
  infrastructure/authentik-proxy/ingress.yaml
Due: kubectl-validate, kustomize-validate

fix: remove duplicate monitoring kustomization reference
  clusters/home-ops/kustomization.yaml
Due: kustomize-validate

fix(external-dns): increase resource limits to resolve EndpointSlice sync timeouts
  infrastructure/external-dns/helmrelease.yaml
Due: kubectl-validate

Fix GitOps deployment failures: resolve ingress conflicts and restore OIDC architecture
  .secrets.baseline
  apps/dashboard/kubernetes-dashboard.yaml
  infrastructure/authentik-proxy/ingress.yaml
  infrastructure/monitoring/prometheus.yaml
Due: kubectl-validate

fix: Add kong.proxy.tls.servicePort to prevent Dashboard Helm template error
  apps/dashboard/kubernetes-dashboard.yaml
Due: kubectl-validate

fix: Add app.ingress.tls.enabled to fix Dashboard Helm template error
  apps/dashboard/kubernetes-dashboard.yaml
Due: kubectl-validate

Fix Dashboard HelmRelease Kong template error
  apps/dashboard/kubernetes-dashboard.yaml
Due: kubectl-validate

Re-enable Kong proxy for Dashboard as required
  apps/dashboard/kubernetes-dashboard.yaml
Due: kubectl-validate

Remove nginx auth-snippet annotation to fix ingress validation
  apps/dashboard/kubernetes-dashboard.yaml
Due: kubectl-validate

Remove deprecated Dashboard API flags causing CrashLoopBackOff
  apps/dashboard/kubernetes-dashboard.yaml
Due: kubectl-validate

Add Kong configuration for Dashboard authentication integration
  apps/dashboard/kubernetes-dashboard.yaml
  apps/dashboard/kustomization.yaml
Due: kubectl-validate, kustomize-validate

Fix Dashboard authentication architecture: remove nginx external auth, simplify Kong config for service account token auth
  apps/dashboard/kong-config-static.yaml
  apps/dashboard/kubernetes-dashboard.yaml
Due: kubectl-validate

Fix Kong DNS resolution by adding Kubernetes cluster DNS resolver configuration
  apps/dashboard/kubernetes-dashboard.yaml
Due: kubectl-validate

fix: Add service account token mount to Kong init container
  apps/dashboard/kubernetes-dashboard.yaml
Due: kubectl-validate

feat: Implement proper GitOps solution for Kong token substitution
  apps/dashboard/kong-config-static.yaml
  apps/dashboard/kong-token-fix-job.yaml
  apps/dashboard/kubernetes-dashboard.yaml
  apps/dashboard/kustomization.yaml
Due: kubectl-validate, kustomize-validate

fix: Use alpine/k8s image with shell capabilities for Kong config processor
  apps/dashboard/kong-token-fix-job.yaml
Due: kubectl-validate

fix(dashboard): resolve Kong connectivity and authentication issues
  apps/dashboard/kong-config-rbac.yaml
  apps/dashboard/kubernetes-dashboard.yaml
  apps/dashboard/kustomization.yaml
Due: kubectl-validate, kustomize-validate

fix: Add missing enabled field to CNPG Barman Plugin configuration
  infrastructure/postgresql-cluster/cluster-plugin.yaml
Due: kubectl-validate

Enable CNPG Barman Plugin configuration for postgresql-cluster
  infrastructure/postgresql-cluster/cluster-plugin.yaml
Due: kubectl-validate

Fix WAL archiving plugin connectivity issues
  infrastructure/postgresql-cluster/cluster-plugin.yaml
Due: kubectl-validate

Fix CNPG Barman Plugin deployment approach
  infrastructure/cnpg-barman-plugin/kustomization.yaml
Due: kustomize-validate

Fix WAL archiving plugin connectivity by using correct plugin name
  infrastructure/postgresql-cluster/cluster-plugin.yaml
Due: kubectl-validate

Fix CNPG Barman Plugin deployment by using direct manifest
  infrastructure/cnpg-barman-plugin/kustomization.yaml
Due: kustomize-validate

Break circular dependency by removing barman plugin dependency from PostgreSQL cluster
  clusters/home-ops/infrastructure/database.yaml
Due: kubectl-validate

Fix CNPG Barman Plugin URL to use correct repository and manifest
  infrastructure/cnpg-barman-plugin/kustomization.yaml
Due: kustomize-validate

fix(authentik): increase worker health check timeouts to resolve CrashLoopBackOff
  infrastructure/authentik/helmrelease.yaml
Due: kubectl-validate

Fix authentik-enhanced-token-setup job by removing problematic 1Password field structure update
  infrastructure/authentik-outpost-config/enhanced-token-setup-job.yaml
Due: kubectl-validate

fix: Update authentik-proxy-config HelmRelease to use local chart instead of missing dysnix repository
  infrastructure/authentik-proxy/helmrelease-config.yaml
Due: kubectl-validate

feat(authentik): add RADIUS API token management
  infrastructure/authentik/external-secret-radius-token.yaml
  infrastructure/authentik/kustomization.yaml
Due: kubectl-validate, kustomize-validate

fix(authentik): temporarily disable RADIUS token to unblock reconciliation
  infrastructure/authentik/kustomization.yaml
Due: kustomize-validate

Path conditions:
  kubectl-validate: any of: (?x)^(
  infrastructure/.*\.yaml$|
  apps/.*\.yaml$|
  clusters/.*\.yaml$
)
 and not ((?x)^(
  .*kustomization\.yaml$|
  .*kustomization-.*\.yaml$
)$
) and not ((?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$
)
  kustomize-validate: any of: kustomization\.yaml$, but not: (?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$

  pytest-critical: any of: scripts/token-management/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$

