Repository geoffdavis/talos-gitops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubectl-validate, kustomize-validate, pytest-critical

Path conditions:
  kubectl-validate: any of: (?x)^(
  infrastructure/.*\.yaml$|
  apps/.*\.yaml$|
  clusters/.*\.yaml$
)
 and not ((?x)^(
  .*kustomization\.yaml$|
  .*kustomization-.*\.yaml$
)$
) and not ((?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$
)
  kustomize-validate: any of: kustomization\.yaml$, but not: (?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$

  pytest-critical: any of: scripts/token-management/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pre-commit-cache/.*|
  \.task/.*|
  \.bootstrap-state/.*|
  clusterconfig/.*|
  talos/generated/.*|
  .*\.backup.*|
  .*\.tmp|
  .*\.log
)$


fix(authentik): correct RADIUS token 1Password entry name
  infrastructure/authentik/external-secret-radius-token.yaml
  infrastructure/authentik/kustomization.yaml
Due: kubectl-validate, kustomize-validate

feat: migrate from problematic jobs to GitOps lifecycle management
  .kilocode/mcp.json
  .kilocode/rules/memory-bank/tech.md
  README.md
  apps/dashboard/kong-token-fix-job.yaml
  apps/dashboard/kubernetes-dashboard.yaml
  apps/home-automation/home-assistant/deployment.yaml
  apps/home-automation/postgresql/database-init-job.yaml
  apps/home-automation/postgresql/kustomization.yaml
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/_helpers.tpl
  charts/gitops-lifecycle-management/templates/_helpers.yaml
  charts/gitops-lifecycle-management/templates/configmaps/retry-helpers-configmap.yaml
  charts/gitops-lifecycle-management/templates/controllers/cleanup-controller.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
  charts/gitops-lifecycle-management/templates/crds/proxyconfig-crd.yaml
  charts/gitops-lifecycle-management/templates/external-secrets/authentik-token-secret.yaml
  charts/gitops-lifecycle-management/templates/hooks/post-install-validation.yaml
  charts/gitops-lifecycle-management/templates/hooks/pre-install-auth-setup.yaml
  charts/gitops-lifecycle-management/templates/hooks/pre-install-db-init.yaml
  charts/gitops-lifecycle-management/templates/monitoring/prometheus-rules.yaml
  charts/gitops-lifecycle-management/templates/monitoring/servicemonitor.yaml
  charts/gitops-lifecycle-management/templates/rbac/clusterrole.yaml
  charts/gitops-lifecycle-management/templates/rbac/clusterrolebinding.yaml
  charts/gitops-lifecycle-management/templates/rbac/serviceaccount.yaml
  charts/gitops-lifecycle-management/values.yaml
  clusters/home-ops/infrastructure/identity.yaml
  clusters/home-ops/infrastructure/outpost-config.yaml
  docs/GITOPS_LIFECYCLE_MANAGEMENT_DEPLOYMENT.md
  docs/GITOPS_LIFECYCLE_MANAGEMENT_MIGRATION_SUMMARY.md
  docs/GITOPS_LIFECYCLE_MANAGEMENT_OPERATIONS.md
  docs/GITOPS_LIFECYCLE_MANAGEMENT_QUICK_REFERENCE.md
  docs/GITOPS_LIFECYCLE_MANAGEMENT_TROUBLESHOOTING.md
  docs/OPERATIONAL_PROCEDURES_UPDATE.md
  infrastructure/authentik-outpost-config/grafana-oidc-setup-job.yaml
  infrastructure/authentik-outpost-config/kustomization.yaml
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
  infrastructure/gitops-lifecycle-management/kustomization.yaml
  infrastructure/monitoring/prometheus.yaml
Due: kubectl-validate, kustomize-validate

fix: correct dependency names in GitOps lifecycle management
  clusters/home-ops/infrastructure/identity.yaml
  clusters/home-ops/infrastructure/outpost-config.yaml
Due: kubectl-validate

fix: correct YAML syntax in prometheus-rules.yaml template
  charts/gitops-lifecycle-management/templates/monitoring/prometheus-rules.yaml
Due: none

fix: temporarily disable monitoring to resolve deployment issues
  charts/gitops-lifecycle-management/values.yaml
Due: none

Fix GitOps Lifecycle Management YAML parsing issues
  .kilocode/mcp.json
  .kilocode/rules/flux-mcp.md
  charts/gitops-lifecycle-management/templates/monitoring/prometheus-rules.yaml
  charts/gitops-lifecycle-management/values.yaml
Due: none

fix: resolve duplicate app.kubernetes.io/name label in GitOps Lifecycle Management chart
  charts/gitops-lifecycle-management/values.yaml
Due: none

fix: remove duplicate app.kubernetes.io/name from HelmRelease commonLabels
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
Due: kubectl-validate

fix: resolve YAML parsing error in GitOps Lifecycle Management
  .kilocode/mcp.json
  charts/gitops-lifecycle-management/templates/_helpers.yaml
  charts/gitops-lifecycle-management/templates/monitoring/prometheus-rules.yaml
Due: none

fix: remove health check deadlock and fix trailing spaces
  clusters/home-ops/infrastructure/identity.yaml
Due: kubectl-validate

fix: restore health checks after resolving YAML parsing error
  clusters/home-ops/infrastructure/identity.yaml
Due: kubectl-validate

fix: Set Grafana deployment strategy to Recreate to resolve Multi-Attach error
  infrastructure/monitoring/prometheus.yaml
Due: kubectl-validate

Fix ServiceAccount hook ordering for gitops-lifecycle-management
  charts/gitops-lifecycle-management/templates/rbac/serviceaccount.yaml
Due: none

Fix ServiceAccount hook ordering for gitops-lifecycle-management
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/values.yaml
  docs/GITOPS_LIFECYCLE_MANAGEMENT_DEPLOYMENT.md
  docs/GITOPS_LIFECYCLE_MANAGEMENT_MIGRATION_SUMMARY.md
  docs/GITOPS_LIFECYCLE_MANAGEMENT_OPERATIONS.md
  docs/GITOPS_LIFECYCLE_MANAGEMENT_QUICK_REFERENCE.md
  docs/GITOPS_LIFECYCLE_MANAGEMENT_TROUBLESHOOTING.md
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
  infrastructure/gitops-lifecycle-management/kustomization.yaml
Due: kubectl-validate, kustomize-validate

Fix auth setup hook weight to run after ServiceAccount creation
  charts/gitops-lifecycle-management/templates/hooks/pre-install-auth-setup.yaml
Due: none

Bump chart version to force hook weight changes
  charts/gitops-lifecycle-management/Chart.yaml
Due: none

Fix database secret name mismatch in gitops-lifecycle-management
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
Due: kubectl-validate

Fix gitops-lifecycle-management HelmRelease hook ordering and secret configuration
  charts/gitops-lifecycle-management/templates/external-secrets/database-credentials-secret.yaml
  charts/gitops-lifecycle-management/templates/hooks/pre-install-db-init.yaml
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
Due: kubectl-validate

fix: resolve GitOps lifecycle management structural issues
  .gitleaks.toml
  .pre-commit-config.yaml
  .secrets.baseline
  infrastructure/authentik-proxy/helmrelease-config.yaml
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
Due: kubectl-validate

fix: correct 1Password property for authentik-admin-token ExternalSecret
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
Due: kubectl-validate

fix: emergency recovery for gitops-lifecycle-management deadlock
  charts/gitops-lifecycle-management/templates/configmaps/controller-config.yaml
  clusters/home-ops/infrastructure/identity.yaml
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
Due: kubectl-validate

fix: resolve ExternalSecret template rendering issues
  .secrets.baseline
  charts/gitops-lifecycle-management/templates/external-secrets/authentik-token-secret.yaml
  charts/gitops-lifecycle-management/templates/external-secrets/database-credentials-secret.yaml
Due: none

Bump chart version to 0.1.2 to force template update deployment
  charts/gitops-lifecycle-management/Chart.yaml
Due: none

fix: Add missing authentik-outpost ExternalSecret template
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/crds/proxyconfig-crd.yaml
  charts/gitops-lifecycle-management/templates/external-secrets/authentik-outpost-secret.yaml
  charts/gitops-lifecycle-management/values.yaml
Due: none

fix: resolve service-discovery container image and template rendering issues
  .secrets.baseline
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/values.yaml
Due: none

fix: enable ProxyConfig CRD installation to resolve service-discovery failures
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/values.yaml
Due: none

fix: replace deprecated bitnami images with alpine/k8s
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/values.yaml
Due: none

fix: resolve secret key mismatch and RBAC issues in gitops-lifecycle-management v0.1.7
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
  charts/gitops-lifecycle-management/values.yaml
Due: none

Fix gitops-lifecycle-management HelmRelease: enable CRD installation and correct property mappings
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
Due: kubectl-validate

feat: Merge upstream documentation updates with Python controller v0.1.8
  .kilocode/mcp.json
  .kilocode/rules/flux-mcp.md
  .kilocode/rules/gitops.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/tech.md
  README.md
  apps/dashboard/kubernetes-dashboard.yaml
  apps/home-automation/home-assistant/deployment.yaml
  charts/authentik-proxy-config/templates/hooks/pre-install-token-setup.tpl
  charts/authentik-proxy-config/values.yaml
  commit_changes.sh
  docs/OPERATIONAL_PROCEDURES_UPDATE.md
  infrastructure/authentik-outpost-config/kustomization.yaml
  infrastructure/authentik-proxy/admin-token-secret.yaml
  infrastructure/authentik-proxy/helmrelease-config.yaml
  infrastructure/authentik/external-secret-radius-token.yaml
Due: kubectl-validate, kustomize-validate

feat: Replace shell script with maintainable Python controller
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-script.yaml
Due: none

fix: resolve Python controller filesystem permission issues (v0.1.9)
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
  charts/gitops-lifecycle-management/values.yaml
Due: none

fix: temporarily remove authentik dependency from gitops-lifecycle-management
  clusters/home-ops/infrastructure/identity.yaml
Due: kubectl-validate

fix: resolve filesystem permission issue in gitops-lifecycle-management v0.1.10
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/values.yaml
Due: none

feat: deploy chart v0.1.11 with python:3.12-alpine fix for emergency recovery completion
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
Due: none

fix: deploy chart v0.1.12 removing apk add command for python:3.12-alpine
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
Due: none

fix: correct authentik flows secret reference in HelmRelease
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
  infrastructure/gitops-lifecycle-management/helmrelease.yaml
Due: kubectl-validate

fix: correct YAML formatting in service-discovery command
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
Due: none

feat: switch to rancher/kubectl image for service-discovery controller
  charts/gitops-lifecycle-management/Chart.yaml
  charts/gitops-lifecycle-management/templates/controllers/service-discovery-controller.yaml
Due: none
